.wrapper {
    padding-top: 20px;
}

.select-wrapper {
    padding: 30px;
}
.selectAndCheck {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px 100px 0;
}


/* NAV ITEM */
nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 60%;
    padding-left: 20px;
    border: 1px solid #C0C0C0;
    border-radius: 20px;
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top,  #cccccc 0%, #999999 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cccccc 0%,#999999 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cccccc 0%,#999999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 2px 5px 0px rgba(255,255,255,1);

}
.list > li {
    padding: 20px;
}
.list li {
    position: relative;
    line-height: 0;
}
.list a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 25px;
    height: 25px;
    text-shadow: 0 1px 0 #000;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
}
.list li:hover > a {
    color: #ff9933;
}
*html .list li a:hover {
	color: #ff9933;
}
.list li:hover > ul {
	display: block;
}
.list ul {
    z-index: 99;
    position: absolute;
    top: 40px;
    left: 0;
    background: #999999;
    background: -moz-linear-gradient(#999, #666);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #999),color-stop(1, #666));
    background: -webkit-linear-gradient(#999, #666);
    background: -o-linear-gradient(#999, #666);
    background: -ms-linear-gradient(#999, #666);
    background: linear-gradient(#999, #666);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.2);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.2);
    box-shadow: 0 0 2px rgba(255,255,255,.2);
    -moz-border-radius: 15px;
    border-radius: 10px;
}
.list ul ul {
  top: 0;
  left: 150px;
}

.list ul li {
    display: block;
    position: relative;
    -moz-box-shadow: 0 1px 0 #444, 0 2px 0 #ccc;
    -webkit-box-shadow: 0 1px 0 #444, 0 2px 0 #ccc;
    box-shadow: 0 1px 0 #444, 0 2px 0 #ccc;
}

.list ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.list ul a {
    padding: 10px;
	height: 10px;
	width: 130px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
	text-transform: none;
}
/* IE6 */
*html .list ul a {
	height: 10px;
}
/* IE7 */
*:first-child+html .list ul a {
	height: 10px;
}

.list ul > li:hover,
.list ul > li:focus,
.list ul > li:active {
    background: #ddd;
	background: -moz-linear-gradient(#ddd, #33ccff);
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#3cf));
	background: -webkit-linear-gradient(#ddd, #33ccff);
	background: -o-linear-gradient(#ddd, #33ccff);
	background: -ms-linear-gradient(#ddd, #33ccff);
	background: linear-gradient(#ddd, #33ccff);
}
.dropdown li:first-child {
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.list li:last-child {
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.sub-menu {
    display: none;
}
nav li.dropdown > a {
    background-image: url('../img/arrow.png');
    background-position: right 5px;
    background-size: 16%;
    background-repeat: no-repeat;
}

nav li li.dropdown > a {
    background-image:url('../img/arrow-ver.png');
    background-position: 90%;
    background-size: 6%;
    background-repeat:no-repeat;
}
* html .list            { zoom: 1; } /* IE6 */
*:first-child+html .list { zoom: 1; } /* IE7 */
